.direction-form{
	&__label{flex-grow: 0;}
	&__address.field{flex-grow: 5 !important;}
	&__number.field{flex-grow: 0 !important;}
}

.map{
	&__root{}
	&__container{
		height: 500px;
	}
	&__input{
		display: block;
		width: 70%;
		margin-left: 10px;

		@media (min-width: $desktop) {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		&--wrapper{
			position: absolute;
			width: 100%;
			bottom: 0;
			margin: 10px 10px 20px 10px;
			
			@media (min-width: $desktop) {
				top: 0;
				bottom: auto;
			}
		}
	}
}